.feature {
  max-width: 50rem;
}

.feature-desc {
  font-size: smaller;
}

i.bi {
  font-size: xxx-large;
}

@media screen and (min-width: 768px) {
  iframe {
    width: 30rem;
    height: 20rem;
  }
}

@media screeen and (max-width: 768px) {
  #nav-bar {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
  }
}
